@forward "./lib/stylesheet/main";
@use "./lib/stylesheet/main" as *;
@use "./lib/stylesheet/theme";
:root {
	@each $type, $items in theme.$dark-theme {
		@each $variant, $value in $items {
			--app-#{$type}-#{$variant}: #{$value};
			// @debug $value;
		}
	}
}

:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: .625em;
	font-weight: 400;
	tab-size: 4;
	color-scheme: light dark;
	color: var(--app-text-base);
	background-color: var(--app-background-base);

	font-synthesis: none;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	--top-bar-height: 3.5em;
	--side-bar-width: 62vmin;
	@media screen and (min-width: 720px) and (max-width: 1298px) {
		--top-bar-height: 4.2em;
		--side-bar-width: 5em;
	}
	@media screen and (min-width: 1298.5px) {
		--side-bar-width: 19em;
	}
}
html, body {
	line-height: 1.4;
	min-height: 100vh;
}
body {
	margin: 0;

	position: absolute;
	inset:0;
	font-size: 1.6rem;
	min-height: 100vh;
}

.card {
	padding: 1em;
}

#app {
	// text-align: center;
	display:flex;
	position:fixed;
	inset: 0;
	overflow: hidden;
}


#app {
	position: absolute;
	inset: 0;
	contain: paint;
	isolation: isolate;
	min-height: inherit;
	// max-height: 100%;
	overflow-y: auto;
}

main {
	position: relative;
	padding: 1.5vw 0;
	max-width: 95em;
	margin:0 auto;
}
